[Desktop Entry]
Type=Application
Name=ZDL
GenericName=Doom Launcher
Comment=Launch ZDoom based Doom engine source ports
Exec=ZDL %f
Icon=qzdl
Terminal=false
Categories=Game;ActionGame;
MimeType=application/x-zdl;
Keywords=doom;zdoom;gzdoom;uzdoom;wad;launcher;
StartupWMClass=ZDL
